<nav>
  <a routerLink="/home">
    <img src="../assets/images/images.jpg" width="40px" height="40px" /></a>&nbsp;
  <a routerLink="/aboutus">Aboutus</a>&nbsp;
  <a routerLink="/contactus">Contactus</a>&nbsp;
  <!-- <a routerLink="/login">Login</a>&nbsp; -->

</nav>
<b>Enter user's data</b><br />
<form #userData="ngForm" (ngSubmit)='addUser(userData)'>

  User Id <input type="text" name="uid" ngModel /><br />
  Password <input type="text" name="password" ngModel /><br />
  Email Id <input type="text" name="email" ngModel /><br />
  <input type="submit" value="Add User"/>
  <input type="button" value="Get user" (click)="getAllUsers()"/>
  <button (click)="update()" *ngIf="isUpdate">Update</button>

</form>
<!-- <br><p><b>{{this.expresponse.substring(3,this.expresponse.length-4)}}</b></p><br><br> -->
<br><p>{{this.expresponse}}</p><br>
<b>User Details</b>
<table border="4px">
  <thead>
    <tr>
      <th>User Id</th>
      <th>Password</th>
      <th>Email Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList; let i = index">
      <td>{{ user.userid }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button (click)="edit(user,i)">Edit</button>
        <button (click)="deleteUser(user.userid)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>

